.race_row {
    display: flex;
  }
.race_acc {
    text-align: center;
}
.biased_race_row {
    display: flex;
  }
.biased_race_acc {
    text-align: center;
}
.age_row {
    display: flex;
  }
.age_acc {
    text-align: center;
}
.gender_row {
    display: flex;
  }
.gender_acc {
    text-align: center;
}
  
.race_progress {
    flex: 50%;
    padding: 5px;
}
.race_stats{
    flex: 50%;
    padding: 5px;
}
.biased_race_progress {
    flex: 50%;
    padding: 5px;
}
.age_progress {
    flex: 50%;
    padding: 5px;
}
.age_stats{
    flex: 50%;
    padding: 5px;
}
.gender_progress {
    flex: 50%;
    padding: 5px;
}
.gender_stats{
    flex: 50%;
    padding: 5px;
}
h1{
    font-size: 0.8cm;
}

.distribution_unbiased {
    display: flex;
  }
.pic_unb{
    flex:50%;
}
.distribution_unb{
    text-align: center;
}
.distribution_biased {
    float:left;
    margin-left: 10%;
  }
.ig_img{
    text-align: center;
}
.result_pic{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
